<div class="container">
    <div class="col-md-7 offset-md-2 mt-5">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h5>Role Delete</h5>
            </div>
          </div>
        </div>
  
        <div class="card-body">
          <form [formGroup]="roleDeleteForm" (ngSubmit)="onSubmit(template)">
            <div class="py-1 col-md-12">
              <div class="form-group row">
                <label for="roleId" class="col-md-4">Role Name</label>
                <div class="col-md-7">
                  <select formControlName="roleId" class="form-control">
                    <option value="" [disabled]="true"
                    >--Select Role--</option>
                  <option
                    *ngFor="let item of roleList"
                    [value]="item.id"
                    >{{ item.name }}</option
                  >
                </select>
                  <div
                    *ngIf="submitted && roleDeleteFormControl.roleId.errors"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="roleDeleteFormControl.roleId.errors.required"
                    >
                      Role Name is required
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="offset-md-4 col-md-4 mt-5">
                <button
                  [disabled]="loading"
                  class="btn btn-block btn-sm btn-primary"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Delete
                </button>
              </div>
            </div>
          </form>

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Confirmation</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body overflow-auto">
                  <div class="row">
                    <div class="col-md-12">
                        <h3>Are you sure you want to delete this role?</h3>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row mt-5">
                <div class="col-md-12">
                  <button class="btn btn-success col-md-1 btn-sm ml-2 float-right" (click)="modalConfirm()">Yes</button>
                  <button class="btn btn-danger col-md-1 btn-sm float-right" (click)="modalDecline()">No</button>
                </div>
              </div>
  
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>