<app-top-bar></app-top-bar>

<div class="container">
  <div class="col-md-7 offset-md-2 mt-5">
    <div class="card">

      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h5>{{'CARD.CARD_HEADER_USER_PROFILE' | translate}}</h5>
          </div>
          <div class="col-md-6"> 
            <a class="btn btn-info edit-btn" [routerLink]="'/user/edit'"
              >{{'CARD.CARD_HEADER_EDIT_PROFILE_BTN' | translate}}</a
            >
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-borderless table-responsive">

          <tbody>
            <tr>
              <td class="compact-row"><b>{{'TABLE.TABLE_FIRST_NAME' | translate}}: </b></td>
              <td>{{userData.firstName}}</td>
            </tr>
            <tr>
                <td class="compact-row"><b>{{'TABLE.TABLE_LAST_NAME' | translate}}: </b></td>
                <td>{{userData.lastName}}</td>
              </tr>
              <tr>
                <td class="compact-row"><b>{{'TABLE.TABLE_GENDER' | translate}}: </b></td>
                <td>{{userData.sex}}</td>
              </tr>
              <tr>
                <td class="compact-row"><b>{{'TABLE.TABLE_PHONE' | translate}}: </b></td>
                <td>{{userData.phone}}</td>
              </tr>
              <tr>
                <td class="compact-row"><b>{{'TABLE.TABLE_JOBTITLE' | translate}}: </b></td>
                <td>{{userData.jobTitle}}</td>
              </tr>
              <tr>
                <td class="compact-row"><b>{{'TABLE.TABLE_ADDRESS' | translate}}: </b></td>
                <td>〒 {{userData.address_PostCode}} {{userData.address}}</td>
              </tr>
              <tr>
                <td></td>
                <td><a [routerLink]="['/user/changePassword/']">{{'TABLE.TABLE_CHANGE_PASSWORD' | translate}}</a></td>
              </tr>
          </tbody>

        </table>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
          <p style="color: white">{{'UTILS.PRELOADER_TEXT' | translate}} </p>  
          </ngx-spinner> 

        <div class="row mt-3">
          <div class="col-md-12">
            <button type="button" [routerLink]="['/report/']" class="btn btn-info float-right mr-2">{{'FORM.FORM_BACK_BTN' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
