<app-top-bar></app-top-bar>

<div class="container">
  <div class="col-md-10 offset-md-1 mt-5">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h5>{{ "CARD.CARD_HEADER_BROADCAST_CREATE_TITLE" | translate }}</h5>
          </div>
        </div>
      </div>

      <div class="card-body">
        <form [formGroup]="messageCreateForm" (ngSubmit)="onSubmit(template)">
          <div class="py-1 col-md-12">
            <div class="form-group row">
              <label for="messageTitle" class="col-md-3">{{
                "CARD.CARD_HEADER_MESSAGE_TITLE" | translate
              }}</label>
              <div class="col-md-8">
                <input 
                  formControlName="messageTitle"
                  placeholder="{{ 'CARD.CARD_HEADER_MESSAGE_TITLE' | translate }}"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && messageCreateFormControl.messageTitle.errors }"
                />
                <div *ngIf="submitted && messageCreateFormControl.messageTitle.errors" class="invalid-feedback">    
                  <div *ngIf="messageCreateFormControl.messageTitle.errors.required">{{'FORM_ERROR.FORM_ERROR_MESSAGE_TITLE_REQUIRED' | translate}}</div>    
                </div> 
              </div>
            </div>

            <div class="form-group row">
              <label for="address" class="col-md-3">{{
                "CARD.CARD_HEADER_BROADCAST_TITLE" | translate
              }}</label>
              <div class="col-md-8">
                <!-- <textarea
                  rows="7"
                  cols="55"
                  formControlName="messageBody"
                  class="form-control"
                  placeholder="{{ 'CARD.CARD_HEADER_BROADCAST_TITLE' | translate }}"
                  [ngClass]="{ 'is-invalid': submitted && messageCreateFormControl.messageBody.errors }"
                ></textarea> -->
                <ckeditor tagName="textarea" formControlName="messageBody" rows="7" cols="55" [editor]="Editor"
                [ngClass]="{ 'is-invalid': submitted && messageCreateFormControl.messageBody.errors }"
                ></ckeditor>
                <div *ngIf="submitted && messageCreateFormControl.messageBody.errors" class="invalid-feedback">    
                  <div *ngIf="messageCreateFormControl.messageBody.errors.required">{{'FORM_ERROR.FORM_ERROR_MESSAGE_BODY_REQUIRED' | translate}}</div>    
                </div> 
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <button class="btn btn-info float-right">{{'FORM.FORM_SUBMIT_COMMENT_BTN' | translate}}</button>
              <button type="button" [routerLink]="['/broadcast']" class="btn btn-info float-right mr-2">{{'FORM.FORM_BACK_BTN' | translate}}</button>
            </div>
          </div>
        </form>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{'TABLE.MODAL_TITLE' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalDecline()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body overflow-auto">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-responsive-sm table-bordered">
                      <thead align="center" class="text-nowrap">
                        <tr>
                          <th>{{'CARD.CARD_HEADER_MESSAGE_TITLE' | translate}}</th>
                          <th>{{'CARD.CARD_HEADER_BROADCAST_TITLE' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td align="center">{{messageFormData.messageTitle}}</td>
                          <td [innerHTML]="messageFormData.messageBody | safeHtml"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-md-12">
                <button class="btn btn-success col-md-1 btn-sm ml-2 float-right" (click)="modalConfirm()">Yes</button>
                <button class="btn btn-danger col-md-1 btn-sm float-right" (click)="modalDecline()">No</button>
              </div>
            </div>

          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
