<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
        </conditions>
        <action type="Rewrite" url="/ReportManagement" />
      </rule>
      <rule name="Imported Rule 3">
        <match url="^$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll">
          <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^jp" />
        </conditions>
        <action type="Redirect" url="/jp/" redirectType="Found" />
      </rule>
      <rule name="Imported Rule 5">
        <match url="^$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll">
          <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^es" negate="true" />
        </conditions>
        <action type="Redirect" url="/en/" redirectType="Found" />
      </rule>
    </rules>
  </rewrite>
  <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
 </staticContent>
</system.webServer>

</configuration>