/* .rotate {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  
  height: 1%;
  padding-bottom: 15%;
  display: flex;
  justify-content: center; 
  align-items: center; 
} */

/* .rotate {
  
  -moz-transform: rotate(-90deg);
 
  -o-transform: rotate(-90deg);
  
  -webkit-transform: rotate(-90deg);
  
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
 
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  
  transform: rotate(-90deg);
} */

.table {
  white-space: nowrap;
  width: 1%;
}

.saturdayClass {
  background-color: rgb(198, 233, 230);
}
.sundayClass {
  background-color: rgb(247, 217, 188);
}
