<div class="container">
    <div class="col-md-7 offset-md-2 mt-5">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h5>Set Default Password</h5>
            </div>
          </div>
        </div>
  
        <div class="card-body">
          <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
            <div class="py-1 col-md-12">
              <div class="form-group row">
                <label for="employeeNameSelectedValue" class="col-md-4">User</label>
                <div class="col-md-7">
                  <select formControlName="employeeNameSelectedValue" class="form-control">
                      <option value="" [disabled]="true"
                      >--Select User--</option>
                    <option
                      *ngFor="let item of userList"
                      [value]="item.userId"
                      >{{ item.firstName }} {{ item.lastName }}</option
                    >
                  </select>
                  <div
                  *ngIf="submitted && setPasswordFormControl.employeeNameSelectedValue.errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="setPasswordFormControl.employeeNameSelectedValue.errors.required"
                  >
                    Role Name is required
                  </div>
                </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4">Set Password</label>
                <div class="col-md-7">
                  <input formControlName="password" class="form-control" placeholder="Set Password" type="password" autocomplete="new-password"
                  [ngClass]="{ 'is-invalid': submitted && setPasswordFormControl.password.errors }" />
                  <div *ngIf="submitted && setPasswordFormControl.password.errors" class="invalid-feedback">    
                    <div *ngIf="setPasswordFormControl.password.errors.required">Set password is required</div>  
                    <div *ngIf="setPasswordFormControl.password.errors.minlength">Minimum 6 chracters</div>  
                  </div> 
                </div>
              </div>
  
              <div class="form-group row">
                  <label for="confirmPassword" class="col-md-4">Confirm Password</label>
                  <div class="col-md-7">
                    <input formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" type="password" autocomplete="new-password"
                    [ngClass]="{ 'is-invalid': submitted && setPasswordFormControl.confirmPassword.errors }"/>
                    <div *ngIf="submitted && setPasswordFormControl.confirmPassword.errors" class="invalid-feedback">    
                      <div *ngIf="setPasswordFormControl.confirmPassword.errors.required">Confirm password is required</div>
                      <div *ngIf="setPasswordFormControl.confirmPassword.errors.mustMatch">Password must match</div>    
                    </div>
                  </div>
              </div>
              <pre class="card card-block card-header">Model: {{setPasswordForm.value.employeeNameSelectedValue | json}}</pre>
  
        
              <!-- <pre class="card card-block card-header">Model: {{roleAssignForm.value.roleSelectedValue | json}}</pre> -->
  
              <div class="offset-md-4 col-md-4 mt-5">
                <button class="btn btn-block btn-sm btn-primary">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  