<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-body">
          <h1>Admin Panel</h1>
          <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <a href="/user/registration" class="btn btn-primary btn-md btn-block">User Registration</a>
                </div>
                <div class="col-md-4">
                    <a href="/role-create" class="btn btn-primary btn-md btn-block">Role Create</a>
                </div>
                <div class="col-md-4">
                    <a href="/role-assign" class="btn btn-primary btn-md btn-block">Assign Roles</a>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="/role-edit" class="btn btn-primary btn-md btn-block">Edit Roles</a>
                </div>
                <div class="col-md-4">
                    <a href="/role-delete" class="btn btn-primary btn-md btn-block">Delete Roles</a>
                </div>
                <div class="col-md-4">
                    <a href="/set-default-password" class="btn btn-primary btn-md btn-block">Set Default Password</a>
                </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>