<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-body">
        <h1>{{'LANDING_PAGE.WELCOME_MESSAGE' | translate}}</h1>
        <div class="content">
          {{'LANDING_PAGE.WELCOME_INSTRUCTION' | translate}}
        </div>
        <div class="content-button">
          <a [routerLink]="'/login'" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> {{'LANDING_PAGE.LOGIN_BUTTON' | translate}}
          </a>
          <!-- <a [routerLink]="'/user/registration'" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> Registration
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
