<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-body">
        <h1>Welcome to Moritake Gumi</h1>
        <div class="content">
          Please select login or registration.
        </div>
        <div class="content-button">
          <a [routerLink]="'/login'" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> Login
          </a>
          <a [routerLink]="'/user-registration'" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> Registration
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
