<app-top-bar></app-top-bar>

<div class="container">
    <div class="col-md-7 offset-md-2 mt-5">
      <!-- <div *ngIf="changePasswordForm.errors?.invalidPreviousPass" class="alert alert-danger mt-3 mb-0">    
        {{'FORM_ERROR.FORM_ERROR_INCORRECT_PREV_PASS' | translate}}  
      </div>   -->
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h5>{{'CARD.CARD_HEADER_CHANGE_PASWORD' | translate}}</h5>
            </div>
          </div>
        </div>
        
  
        <div class="card-body font-self-14">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="py-1 col-md-12">
                <div class="form-group row">
                    <label for="previousPassword" class="col-md-4">{{'FORM.FORM_PREVIOUS_PASSWORD' | translate}}</label>
                    <div class="col-md-7">
                      <input formControlName="previousPassword" class="form-control" placeholder="{{'FORM.FORM_PREVIOUS_PASSWORD' | translate}}" type="password" autocomplete="new-password"
                      [ngClass]="{ 'is-invalid': (submitted && changePasswordFormControl.previousPassword.errors) || prevPassIncorrect }" />
                      <div *ngIf="submitted && changePasswordFormControl.previousPassword.errors" class="invalid-feedback">    
                         <div *ngIf="changePasswordFormControl.previousPassword.errors.required">{{'FORM_ERROR.FORM_ERROR_PREVIOUS_PASSWORD_REQUIRED' | translate}}</div> 
                      </div> 
                      <div *ngIf="prevPassIncorrect" class="invalid-feedback">   
                        <div> {{'FORM_ERROR.FORM_ERROR_INCORRECT_PREV_PASS' | translate}}</div>  
                     </div> 
                    </div>
                  </div>

                <div class="form-group row">
                    <label for="newPassword" class="col-md-4">{{'FORM.FORM_NEW_PASSWORD' | translate}}</label>
                    <div class="col-md-7">
                      <input formControlName="newPassword" class="form-control" placeholder="{{'FORM.FORM_PASSWORD' | translate}}" type="password" autocomplete="new-password"
                      [ngClass]="{ 'is-invalid': submitted && changePasswordFormControl.newPassword.errors }" />
                      <div *ngIf="submitted && changePasswordFormControl.newPassword.errors" class="invalid-feedback">    
                        <div *ngIf="changePasswordFormControl.newPassword.errors.required">{{'FORM_ERROR.FORM_ERROR_NEW_PASSWORD_REQUIRED' | translate}}</div>  
                        <div *ngIf="changePasswordFormControl.newPassword.errors.minlength">{{'FORM_ERROR.FORM_ERROR_PASSWORD_CHAR' | translate}}</div>  
                        <div *ngIf="changePasswordFormControl.newPassword.errors.pattern">{{'FORM_ERROR.FORM_ERROR_PASSWORD_ATLEAST' | translate}}</div>
                      </div> 
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="confirmPassword" class="col-md-4">{{'FORM.FORM_CONFIRM_PASSWORD' | translate}}</label>
                    <div class="col-md-7">
                      <input formControlName="confirmPassword" class="form-control" placeholder="{{'FORM.FORM_CONFIRM_PASSWORD' | translate}}" type="password" autocomplete="new-password"
                      [ngClass]="{ 'is-invalid': submitted && changePasswordFormControl.confirmPassword.errors }"/>
                      <div *ngIf="submitted && changePasswordFormControl.confirmPassword.errors" class="invalid-feedback">    
                        <div *ngIf="changePasswordFormControl.confirmPassword.errors.required">{{'FORM_ERROR.FORM_ERROR_CONFIRM_PASSWORD_REQUIRED' | translate}}</div>
                        <div *ngIf="changePasswordFormControl.confirmPassword.errors.mustMatch">{{'FORM_ERROR.FORM_ERROR_PASSWORD_MATCH' | translate}}</div>    
                      </div>
                    </div>
                </div>
  
              <div class="offset-md-4 col-md-4 mt-5">
                <button [disabled]="loading" class="btn btn-block btn-sm btn-primary">    
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
                  {{'FORM.FORM_PASSWORD_UPDATE_BTN' | translate}}    
                </button>
                <button type="button" [routerLink]="['/user/']" [disabled]="loading" class="btn btn-block btn-sm btn-primary">    
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
                  {{'FORM.FORM_BACK_BTN' | translate}}    
                </button>
              </div>
              <!-- <div class="mt-5" *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
              </div> -->
              
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  